<<<<<<< HEAD
body {
  background-color: rgb(255, 216, 223);
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
>>>>>>> d08f6357bedc3e033df998b2ad477281a72051c5
}

@keyframes wind {
  0% { transform: translateX(-100%); opacity: 0.2; }
  50% { opacity: 0.5; }
  100% { transform: translateX(100%); opacity: 0.2; }
}

.wind {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 20px;
  background: linear-gradient(
    to right,
     rgba(128, 0, 128, 0.223),
     rgba(128, 0, 128, 0.618),
     rgba(128, 0, 128, 0.322)
     );
  animation: wind 3s linear infinite;
}